@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Playfair+Display:ital,wght@0,400;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #474747;
}
footer img {
    max-width: 100%;
    max-height: 100%;
}

.footer-img img {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #dbdfd0;
}

.foot-logo h1 {
    font-family: "Playfair Display";
    font-size: 1.7rem;
    color: #ffffff;
}

.foot-body {
    font-family: "DM Sans";
    font-size: 0.81rem;
    color: #adb29e;
}

.foot-link a {
    margin-left: 0.5rem;
}

.foot-color {
    color: #dbdfd0;
    font-weight: 400;
}

.foot-header {
    color: #dbdfd0;
    font-weight: 700;
}

.copyright p {
    font-family: "DM Sans";
    font-size: 0.81rem;
    color: #adb29e;
}

.nav1 {
    background-color: #474747;
    color: #f9f9f7;
    font-family: "DM Sans";
}

.nav1 p {
    margin: 0;
}

.nav2 {
    padding-bottom: 20px;
}

.nav2 a {
    color: #2c2f24;
    text-decoration: none;
    font-weight: 500;
}

.nav2 .current {
    background-color: #dbdfd0;
    border-radius: 30px;
}

.nav-btn {
    color: #182226;
    text-decoration: none;
    padding: 15px 25px;
    border: solid 1px black;
    border-radius: 30px;
}

.hero {
    background-image: url(../Images/home/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-content {
    max-width: 70%;
    max-height: 50%;
}

.hero-header {
    margin-bottom: 50px;
}

.hero-header h1 {
    max-width: 100%;
    font-family: "Playfair Display";
    font-size: 6rem;
    margin-bottom: -10px;
}

.hero-body {
    margin-bottom: 50px;
}

.hero-body p {
    font-family: "DM Sans";
    font-size: 1.3rem;
}

.my-btn {
    padding: 20px 40px;
    border-radius: 100px;
    font-size: 1rem;
}

.my-btn:hover {
    cursor: pointer;
}

.btn-1 {
    background-color: #ad343e;
    margin-right: 50px;
    color: white;
}

.btn-1 a {
    color: #ffffff;
    text-decoration: none;
}

.btn-2 {
    border: 2px solid black;
    color: black;
}

.btn-2 a {
    color: #182226;
    font-weight: bold;
    text-decoration: none;
}

.browse-contrainer {
    border: solid 1px black;
    border-radius: 10px;
}

.browse-content {
    color: #414536;
}

.browse-content h1 {
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c2f24;
}

.browse-content a {
    color: #ad343e;
    text-decoration: none;
    font-family: "DM Sans";
    font-weight: bold;
}

.about-us-position {
    position: relative;
}

.main-img {
    width: 90%;
    height: 90%;
}

.overlay {
    width: 60%;
    height: 50%;
    background-color: #474747;
    border-radius: 20px;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.overlay h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.about-us-content {
    height: 100%;
    font-family: "DM Sans";
    display: flex;
    flex-direction: column;
    align-content: center;
}

.about-us-content img {
    margin-right: 20px;
}

.about-us-content p {
    color: #f9f9f7;
}

.about-us-content-body {
    font-family: "DM Sans";
}

.about-us-content-body h1 {
    font-family: "Playfair Display";
    font-size: 3.438rem;
    color: #2c2f24;
}

.about-us-content-body h6 {
    font-size: 1.125rem;
    color: #2c2f24;
}

.about-us-content-body p {
    font-size: 1rem;
    color: #414536;
}

.book {
    background-color: #f9f9f7;
}

.book-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.book-header p {
    margin-bottom: 0px;
    font-family: "DM Sans";
    font-size: 1.125rem;
    color: #495460;
}

.book-card {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.book-card input {
    text-indent: 10px;
    border-radius: 50px;
    height: 50px;
}

.book-card select {
    text-indent: 10px;
    border-radius: 50px;
    height: 50px;
    z-index: 1;
}

.log-btn {
    background-color: #ad343e;
    color: #ffffff;
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.log-btn:hover {
    background-color: #8d252e;
    color: #ffffff;
}

.map {
    background-image: url(../Images/map.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog {
    font-family: "DM Sans";
}

.blog-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.blog-header p {
    margin-bottom: 0px;
    font-family: "DM Sans";
    font-size: 1.125rem;
    color: #495460;
}

.blog h5 {
    font-size: 0.875rem;
    color: #737865;
}

.blog p {
    font-size: 1.2rem;
    color: #2c2f24;
}

.my-card {
    margin-bottom: 30px;
}

.card {
    border-radius: 20px;
}

.contact {
    background-color: #f9f9f7;
}

.contact-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.contact-header p {
    margin-bottom: 0px;
    font-family: "DM Sans";
    font-size: 1.125rem;
    color: #495460;
}

.contact-card {
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.contact-card input {
    text-indent: 10px;
    border-radius: 50px;
    height: 50px;
}

.contact-card button {
    background-color: #ad343e;
    color: #ffffff;
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.contact-card button:hover {
    background-color: #8d252e;
    color: #ffffff;
}

.our-contact {
    font-family: "DM Sans";
    width: 70%;
    margin: auto;
}

.our-contact h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.our-contact p {
    font-size: 1.125rem;
    margin-bottom: 0px;
}

.our-contact .call {
    color: #ad343e;
    font-weight: bold;
    font-size: 1.5rem;
}

.login {
    background-color: #f9f9f7;
}

.login-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.login-header p {
    margin-bottom: 0px;
    font-family: "DM Sans";
    font-size: 1.5rem;
    color: #495460;
}

.login-card {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.login-card input {
    text-indent: 10px;
    border-radius: 50px;
    height: 50px;
}

.log-btn {
    background-color: #ad343e;
    color: #ffffff;
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.reg-btn {
    background-color: transparent;
    color: #ad343e;
    font-weight: bold;
}

.reg-btn:hover {
    /* background-color: #8d252e; */
    color: #8d252e;
}

.log-btn:hover {
    background-color: #8d252e;
    color: #ffffff;
}

.profile {
    background-color: #f9f9f7;
}

.profile-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.profile-header p {
    margin-bottom: 0px;
    font-family: "DM Sans";
    font-size: 1.125rem;
    color: #495460;
}

.profile-card {
    width: 30%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.profile-card p {
    padding: 0px 20px 0px 20px;
    font-family: "DM Sans";
    font-size: 1.25rem;
}

.profile-card a {
    color: #ffffff;
    width: 100%;
}

.profile-card button {
    background-color: #ad343e;
    color: #ffffff;
    width: 100%;
    border-radius: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.profile-card button:hover {
    background-color: #8d252e;
    color: #ffffff;
}

.booking {
    background-color: #f9f9f7;
    font-family: "DM Sans";
}

.booking-header h1 {
    font-family: "Playfair Display";
    font-size: 6.25rem;
    color: #2c2f24;
}

.booking-table p {
    margin-bottom: 0px;
    font-size: 1.5rem;
    color: #495460;
}

.booking-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

.menu-card {
    border-radius: 20px;
}

.menu-card h5 {
    color: #ad343e;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-card h6 {
    color: #2c2f24;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-card p {
    color: #414536;
    font-size: 1rem;
}

.no-menu {
    margin-bottom: 0px;
    font-size: 1.5rem;
    color: #495460;
}
